$batch-item-height: 150px;

.mzk-batchview {

    .mzk-batch-header {
        display: flex;
        justify-content: center;
    }

    .mzk-batch-list {
        @import "../../utils/modules/_buttonlist.scss";
        ul {
            li {
                height: $batch-item-height;

                .mzk-batch-content {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    @import "../../components/elements/footbar/_trackpreview.scss";
                    .mzk-track-preview > div {
                        height: $batch-item-height;
                    }
                    @import "../../components/elements/footbar/_controls.scss";
                    .mzk-controls {
                        flex: 1 0 auto;
                    }
                }
            }
        }
    }
}