&.mzk-modal-edit-tag {
    padding: ($mzk-padding * 2) ($mzk-padding * 2) 0 ($mzk-padding * 2);
    width: auto;

    .mzk-modal-header,
    .mzk-modal-footer {
        display: none;
    }

    .mzk-modal-content {
        padding:    0;
        text-align: start;
    }

    .mzk-list {
        background-color: $mzk-bg-normal;
        border-right:     solid 1px $mzk-bg-light;
        box-sizing:       border-box;
        font-size:        0.8em;
        margin:           0;
        overflow:         auto;
        width:            250px;
        white-space:      nowrap;

        p {
            cursor:  pointer;
            margin:  0;
            padding: 2px 15px;

            &.mzk-selected {
                background-color: $mzk-bg-strong;
            }
        }
    }

    .mzk-edit-tag {
        background-color: $mzk-bg-normal;
        height:           auto;
        position:         relative;
        width:            $modalWidth;

        .mzk-head {
            display: flex;
            height:  auto;
            width:   100%;

            p {
                font-size: 0.7em;
                margin:    0;
                padding:   0;
            }

            .mzk-img-container {
                box-sizing: border-box;
                height:     130px;
                padding:    15px;
                width:      150px;

                & > label, img {
                    cursor:   pointer;
                    display:  block;
                    height:   100px;
                    position: relative;
                    width:    100px;

                    &.mzk-modified {
                        border: 1px solid $mzk-text-modified;
                    }

                    & > img:first-child {
                        height:   25%;
                        margin:   3px;
                        position: absolute;
                        right:    0;
                        width:    auto;
                        z-index:  1;
                    }
                }
            }

            .mzk-art-tit-container {
                align-items: center;
                display:     flex;
                height:      130px;
                width:       320px;

                form > input, form > label {
                    display:      inline-block;
                    font-size:    0.7em;
                    margin-left:  5px;
                    padding-left: 5px;
                    position:     relative;
                    text-align:   left;
                    width:        300px;

                    // below is only for labels, since inputs cna't have children
                    img {
                        height:   80%;
                        position: absolute;
                        right:    0;
                    }

                    input {
                        width: 100%;
                        text-align: left;
                    }
                }

                p {
                    margin-left: 5px;
                }

                .mzk-space-up {
                    margin-top: 15px;
                }
            }

            .mzk-numbs-year-container {
                align-items:     center;
                display:         flex;
                height:          130px;
                justify-content: right;
                width:           150px;

                .mzk-item-wrapper {
                    height: auto;
                    width: 100%;

                    .mzk-item {
                        align-items:     center;
                        box-sizing:      border-box;
                        display:         flex;
                        font-size:       0.7em;
                        height:          calc(130px / 4);
                        justify-content: right;
                        padding:         0 15px;
                        width:           100%;

                        form {
                            align-items: center;
                            display:     flex;
                            width:       100%;

                            input {
                                padding: $mzk-padding / 2;
                                width:   15px;
                            }
                        }

                        form > input, form > label {
                            display:    inline-block;
                            flex-grow:  1;
                            margin:     0 3px;
                            position:   relative;
                            text-align: center;

                            // below is only for labels, since inputs cna't have children
                            img {
                                height:   40%;
                                position: absolute;
                                left:    80%; // 100% - height / 2
                            }
                        }

                        .mzk-year {
                            width: 49px !important;
                        }
                    }
                }
            }
        }


        .mzk-tags {
            display:         flex;
            height:          auto;
            justify-content: center;

            .mzk-tags-wrapper {
                box-sizing:      border-box;
                display:         flex;
                justify-content: center;
                height:          auto;
                padding:         0 15px;
                width:           100%;

                form > input, form > label {
                    display:       inline-block;
                    font-size:     0.7em;
                    margin-bottom: 15px;
                    position:      relative;
                    text-align:    left;
                    width:         570px;

                    // below is only for labels, since inputs cna't have children
                    img {
                        height:   80%;
                        position: absolute;
                        right:    0;
                    }

                    input {
                        width: 100%;
                        text-align: left;
                    }
                }

                .mzk-no-margin {
                    margin: 0 !important;
                }
            }
        }

        .mzk-coms {
            display: flex;

            .mzk-element {
                align-items: center;
                display:     flex;
                height:      140px;
                padding:     0 15px;
                text-align:  center;
                width:       50%;

                form > textarea {
                    padding: 5px;
                }

                form > textarea, form > label {
                    border-radius: 2px;
                    box-sizing:    border-box;
                    display:       block;
                    font-size:     0.85em;
                    height:        100px;
                    margin-top:    5px;
                    position:      relative;
                    resize:        none;
                    width:         100%;

                    // below is only for labels, since inputs cna't have children
                    img {
                        height:   25%;
                        margin:   3px;
                        position: absolute;
                        right:    0;
                    }

                    textarea {
                        height: 100%;
                        width:  100%;
                    }
                }

                .mzk-center {
                    text-align: center;
                }
            }
        }

        .mzk-info {
            height:     30px;
            padding:    5px 0;
            text-align: center;
            width:      100%;

            & > p {
                opacity:    1;
                transition: opacity 0.2s;

                &.multiple {
                    opacity: 0;
                }
            }
        }


        .mzk-foot {
            height:     auto;
            text-align: center;
            width:      100%;
        }


        p {
            font-size: 0.7em;
            margin:    0;
        }
    }
}
