$mzk-track-preview-arrow-width: 5px;
$mzk-track-preview-cover:       600px;

.mzk-track-preview {
    box-sizing: border-box;
    display: inline-flex;
    flex: 1 1 auto;
    opacity: 0;
    align-items: stretch;
    min-width: 0;
    min-height: 0;

    & > * {
        flex:       1 1 auto;
        margin:     $mzk-margin;
        min-height: 0;
        min-width:  0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-left: 0;

        li {
            flex:        1 1 auto;
            display:     flex;
            align-items: center;
        }
    }

    & > div {
        cursor: pointer;
        position: relative;
        flex: 0 1 auto;
        margin: 0;
        width: auto;
        height: 100%;

        img {
            height: 100%;
            width:  auto;
            max-width: 100%;
        }

        span {
            @extend .mzk-hidden;
            background-color: $mzk-bg-strong;
            border:           solid $mzk-border-width $mzk-border-color;
            border-radius:    $mzk-border-radius * 2;
            bottom:           100%;
            height:           $mzk-track-preview-cover;
            left:             0;
            position:         absolute;
            width:            $mzk-track-preview-cover;
            z-index:          1;

            img {
                border-radius: $mzk-border-radius * 2;
                box-sizing:    border-box;
                height:        100% !important;
                width:         100% !important;
            }
        }

        div {
            height: 100%;
            width: auto;
            position: relative;
            box-sizing: border-box;
            padding: 10px;
            display: inline-block;

            &::after {
                @extend .mzk-hidden;
                border:       solid $mzk-track-preview-arrow-width;
                border-color: $mzk-border-color transparent transparent transparent;
                content:      "";
                left:         50%;
                position:     absolute;
                top:          0;
                transform:    translate(-$mzk-track-preview-arrow-width);
            }
        }

    }

    div:hover {
        span, div::after {
            @extend .mzk-visible;
        }
    }
}