$footbar-height:         80px;
$footbar-info-width:     30%;
$footbar-controls-width: 40%;
$footbar-padding:        $mzk-padding * 2;
$footbar-padding-li:     0;
$footbar-font-size:      0.8em;

.mzk-footbar {
    background-color: $mzk-bg-strong;
    flex:             0 0 $footbar-height;
    width:            100%;
    height:           $footbar-height;

    & > div {
        width:     calc(#{$footbar-info-width} - #{$mzk-margin});
        height:    100%;
        font-size: $footbar-font-size;
    }

    .mzk-controls-container {
        display:             inline-block;
        position:            relative;
        width:               $footbar-controls-width;
        -webkit-user-select: none;
        -moz-user-select:    none;

        @import './elements/footbar/controls';
    }

    @import './elements/footbar/playlistpreview';
    @import './elements/footbar/queuepreview';
    @import './elements/footbar/trackpreview';
}
